@import '../../../../assets/bango-dash/css/icons.css';

.mb-my-0 {
  margin-bottom: -20px !important;
}

input {
  border: none;
  background: transparent;
}

// table {
//   border-collapse: collapse;
//   border-spacing: 0;
//   width: 100%;
//   border: 1px solid #ddd;
// }

// th,
// td {
//   text-align: left;
//   padding: 8px;
// }


.card-body {
  // min-height: 300px;
  min-width: 1000px;
  // width: 800px;
  margin-right: 5px;
}
