<br>
<!-- ลงทะเบียนตัวอย่าง -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <form>
        <!-- <h4 class="form-header text-uppercase">
          <i class="fa fa-user-circle-o"></i>ลงทะเบียนตัวอย่าง
        </h4> -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="input-1" class="col-form-label">หมายเลขวิเคราะห์</label>
            <input type="text" class="form-control form-control-sm" id="input-1" placeholder="หมายเลขวิเคราะห์">
          </div>
          <div class="form-group col-md-6">
            <label for="input-2" class="col-form-label">เลขที่ทะเบียนรับ</label>
            <input type="text" class="form-control form-control-sm" id="input-2" placeholder="เลขที่ทะเบียนรับ">
          </div>
          <div class="form-group col-md-6">
            <label for="input-3" class="col-form-label">วันที่รับตัวอย่าง</label>
            <input type="date" class="form-control form-control-sm" id="input-3" placeholder="วันที่รับตัวอย่าง">
          </div>
          <div class="form-group col-md-6">
            <label for="input-4" class="col-form-label">เลขที่ใบนำส่ง</label>
            <input type="text" class="form-control form-control-sm" id="input-4" placeholder="เลขที่ใบนำส่ง">
          </div>
          <div class="form-group col-md-6">
            <label for="input-5" class="col-form-label">ลงวันที่</label>
            <input type="date" class="form-control form-control-sm" id="input-5" placeholder="ลงวันที่">
          </div>
          <div class="form-group col-md-6">
            <label for="input-6" class="col-form-label">ชนิดตัวอย่าง</label>
            <input type="text" class="form-control form-control-sm" id="input-6" placeholder="ชนิดตัวอย่าง">
          </div>
          <div class="form-group col-md-12">
            <label for="input-7" class="col-form-label">วัตถุประสงค์</label>
            <input type="text" class="form-control form-control-sm" id="input-7" placeholder="วัตถุประสงค์">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- จบ ลงทะเบียนตัวอย่าง -->
