<br>

<!-- อายุครรภ์ -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <form>
        <!-- <h4 class="form-header text-uppercase">
          <i class="fa fa-user-circle-o"></i>อายุครรภ์
        </h4> -->
        <div class="form-row form-inline">
          <div class="custom-control custom-radio col-md-4">
            <input type="radio" class="custom-control-input" id="GestationalAgeGA" name="GestationalAgeRadios">
            <label class="custom-control-label" for="GestationalAgeGA"> (GA)</label>
          </div>
          <div class="form-group col-md-8">
            <label for="input-26" class="col-form-label">สัปดาห์</label>
            <input type="text" class="form-control form-control-sm col-md-4" id="input-26" placeholder="สัปดาห์">
            <label for="input-27" class="col-form-label">วัน</label>
            <input type="text" class="form-control form-control-sm col-md-4" id="input-27" placeholder="วัน">
          </div>
        </div>
        <div class="form-row form-inline">
          <div class="custom-control custom-radio col-md-4">
            <input type="radio" class="custom-control-input" id="GestationalAgeUltrasound"
              name="GestationalAgeRadios">
            <label class="custom-control-label" for="GestationalAgeUltrasound">Ultrasound</label>
          </div>
          <div class="form-group col-md-8">
            <label for="input-28" class="col-form-label">ตรวจเมื่อวันที่</label>
            <input type="text" class="form-control form-control-sm col-md-4" id="input-28"
              placeholder="ตรวจเมื่อวันที่">
          </div>
        </div>
        <div class="form-row form-inline">
          <div class="custom-control custom-radio col-md-2">
            <input type="radio" class="custom-control-input" id="GestationalAgeBPD" name="GestationalAgeRadios">
            <label class="custom-control-label" for="GestationalAgeBPD">BPD</label>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm col-md-3" id="input-29">
            <label for="input-29" class="col-form-label">mm</label>
          </div>
          <div class="custom-control custom-radio col-md-2">
            <input type="radio" class="custom-control-input" id="GestationalAgeCRL" name="GestationalAgeRadios">
            <label class="custom-control-label" for="GestationalAgeCRL">CRL</label>
          </div>
          <div class="form-group col-md-4">
            <input type="text" class="form-control form-control-sm col-md-3" id="input-30">
            <label for="input-30" class="col-form-label">mm</label>
          </div>
        </div>
        <div class="form-row form-inline">
          <div class="custom-control custom-radio col-md-2">
            <input type="radio" class="custom-control-input" id="GestationalAgeLMP" name="GestationalAgeRadios">
            <label class="custom-control-label" for="GestationalAgeLMP">LMP</label>
          </div>
          <div class="form-group col-md-4">
            <label for="input-31" class="col-form-label">สัปดาห์</label>
            <input type="text" class="form-control form-control-sm col-md-3" id="input-31">
            <label for="input-32" class="col-form-label">วัน</label>
            <input type="text" class="form-control form-control-sm col-md-3" id="input-32">
          </div>
        </div>
        <div class="form-row form-inline">
          <label for="input-33" class="col-form-label">ประจำเดือนครั้งสุดท้าย (LMP)</label>
          <input type="text" class="form-control form-control-sm col-md-3" id="input-33">
      </div>
      </form>
    </div>
  </div>

</div>
<!-- จบ อายุครรภ์ -->
