<!-- Main Footer -->
<footer class="main-footer no-print">
  <!-- <strong>Copyright &copy; 2021 RMSC3 Nakhonsawan</strong> -->
  <!--<div class="float-right d-none d-sm-inline-block">
    <b>Version</b> {{appVersion}} - ({{appBuildDate}})
  </div>-->

  <div class="d-flex justify-content-between">
    <div class="">
    </div>
    <div class="">
      <b>Copyright © 2023 MP GROUP (Thailand) CO.,LTD.</b>
    </div>
    <div class="">
      <b>Version</b> {{appVersion}} - ({{appBuildDate}})
    </div>
  </div>



  <div class="text-red">
    โปรแกรมจะออกจากระบบอัตโนมัติในอีก <b>{{counter | formatTime}}</b> นาที
  </div>

</footer>
