<app-breadcrumb-navigator pageTitle="กำหนดแผนก" currentPageName="กำหนดแผนก"></app-breadcrumb-navigator>

<!-- toolbar button -->
<div class="form-footer mb-2">
  <button type="submit" class="btn btn-dark shadow-dark m-1" (click)="goBack()">
    <i class="fa fa-times mr-1"></i>Cancel
  </button>
  <button type="submit" class="btn btn-success shadow-success m-1" (click)="doSave()"><i
      class="fa fa-check-square-o mr-1"></i>Save
  </button>
</div> <!-- end toolbar button -->

<!-- <div>
  {{this.sampleTypeForm.value |json}}
</div> -->

<div id="accordion">
  <!-- ชนิดตัวอย่าง -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-my-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOnex" aria-expanded="true"
          aria-controls="collapseOne">
          <h4 class="form-header text-uppercase">
            <i class="fa fa-user-circle-o"></i>กำหนดแผนก
          </h4>
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
        <form [formGroup]="departmentForm">
          <div class="form-row">
            <div class="col-md-12">
              <label for="input-deptCode" class="col-form-label">รหัสแผนก</label>
              <input type="text" class="form-control form-control-sm" id="input-deptCode" formControlName="deptCode">
            </div>
            <div class="col-md-12">
              <label for="input-deptName" class="col-form-label">ชื่อแผนก</label>
              <input type="text" class="form-control form-control-sm" id="input-deptName" formControlName="deptName">
            </div>
            <div class="col-md-12">
              <label for="input-deptNameEng" class="col-form-label">ชื่อแผนก (Eng)</label>
              <input type="text" class="form-control form-control-sm" id="input-deptNameEng"
                formControlName="deptNameEng">
            </div>
            <!-- <div class="col-md-4">
              <label for="input-siteid" class="col-form-label">Site</label>
              <input type="text" class="form-control form-control-sm" id="input-siteid" formControlName="siteID">
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div> <!-- จบ ชนิดตัวอย่าง -->

</div>
