// @import '../../../../assets/bango-dash/css/app-style.css';
@import '../../../../../assets/bango-dash/css/icons.css';
// @import '../../../../assets/bango-dash/css/bootstrap.min.css';
// @import '../../../../assets/css/my-custom.scss';


.mb-my-0 {
  margin-bottom: -20px !important;
}

.form-group.col-md-4 {
  display: flex;
  align-items: center;
}
