<br>
<!-- ข้อมูลหน่วยงานที่ส่งตรวจ -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <form>
        <!-- <h4 class="form-header text-uppercase">
          <i class="fa fa-file-text-o"></i>ข้อมูลหน่วยงานที่ส่งตรวจ
        </h4> -->

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="input-8" class="col-form-label">รหัสหน่วยงาน</label>
            <input type="text" class="form-control form-control-sm" id="input-8" placeholder="รหัสหน่วยงาน">
          </div>
          <div class="form-group col-md-6">
            <label for="input-9" class="col-form-label">ชื่อหน่วยงาน</label>
            <input type="text" class="form-control form-control-sm" id="input-9" placeholder="ชื่อหน่วยงาน">
          </div>
          <div class="form-group col-md-6">
            <label for="input-10" class="col-form-label">แพทย์/ผู้ส่งตรวจ</label>
            <input type="text" class="form-control form-control-sm" id="input-10" placeholder="แพทย์/ผู้ส่งตรวจ">
          </div>
          <div class="form-group col-md-6">
            <label for="input-11" class="col-form-label">หมายเลขโทร.ติดต่อ (ผู้ส่ง)</label>
            <input type="text" class="form-control form-control-sm" id="input-11" placeholder="หมายเลขโทร.ติดต่อ (ผู้ส่ง)">
          </div>
          <div class="form-group col-md-6">
            <label for="input-12" class="col-form-label">ค่าตรวจวิเคราะห์</label>
            <input type="text" class="form-control form-control-sm" id="input-12" placeholder="ค่าตรวจวิเคราะห์">
          </div>
          <div class="form-group col-md-6">
            <label for="input-13" class="col-form-label">ผู้รับรายงานผล</label>
            <input type="text" class="form-control form-control-sm" id="input-13" placeholder="ผู้รับรายงานผล">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- จบ ข้อมูลหน่วยงานที่ส่งตรวจ -->
