table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* min-width: 500px; */
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-size: 15px;
}

.mat-row:nth-child(even) {
  background-color: #e4f0ec;
}

.mat-row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.025);
}

.mat-row:hover {
  /* // cursor: pointer; */
  background: #b4b4b433;
}
