<br>

<!-- Ultrasound -->
<div class="col-lg-12">
  <div class="card">
    <div class="card-body">
      <form>
        <!-- <h4 class="form-header text-uppercase">
          <i class="fa fa-user-circle-o"></i>Ultrasound
        </h4> -->

        <div class="form-row form-inline">
          <label for="input-34" class="col-form-label">การทดสอบ NT</label>
          <input type="text" class="form-control form-control-sm col-md-3" id="input-34">
          <label for="input-34" class="col-form-label">mm</label>
        </div>

        <label for="" class="col-form-label">การทดสอบ UTPI Left Uterine Artery</label>
        <div class="form-row form-inline">
          <label for="input-35" class="col-form-label">Left Uterine Artery</label>
          <input type="text" class="form-control form-control-sm col-md-2" id="input-35">
          <label for="input-35" class="col-form-label">mm</label>
          <label for="input-36" class="col-form-label">Right Uterine Artery</label>
          <input type="text" class="form-control form-control-sm col-md-2" id="input-36">
          <label for="input-36" class="col-form-label">mm</label>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Ultrasound -->
