<div class="modal-content" style="z-index:90000">
    <ngx-loading [show]="isLoading"></ngx-loading>

    <div class="modal-header">
        <h4 class="modal-title pull-left page-title font-kanit">{{ title }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <i class="fas fa-times-circle"></i>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-inline">
            <div class="mb-2 form-group col-md-12">
                <label for="input-filter">คำค้นหา &nbsp;<small>(Lab Number)</small>&nbsp;: </label>
                <input type="text" class="form-control form-control-sm col-sm" id="input-filter"
                    (click)="pageConfig.currentPage = 1" placeholder="" #input [(ngModel)]="textFilter">
            </div>
        </div>

        <div class="pull-right">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

        <div class="form-group">
            <div class="table-responsive-md">
                <table id="tableCustomer" class="table table-hover table-sm table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>เลขตัวอย่าง</td>
                            <td>ชื่อ-สกุล [มารดา]</td>
                            <td>ชื่อ-สกุล [บุตร]</td>
                            <td>เบอร์โทรศัพท์</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!pickItems?.length">
                            <td colspan="100" class="text-center">
                                ไม่มีรายการ
                            </td>
                        </tr>

                        <tr *ngFor="let item of pickItems | filterBy: { $or: [{labNumber : textFilter}, {firstName: textFilter}, {lastName: textFilter}] } | paginate: pageConfig; let i = index"
                            (click)="highlightRow(item)" (dblclick)="onSelected()"
                            [ngClass]="{'highlight' : item == selectedItem}">
                            <th scope="row">{{( (pageConfig.currentPage - 1) * pageConfig.itemsPerPage + i + 1) |
                                number:'0.0-0' }}
                            </th>
                            <td>{{ item.labNumber }}</td>
                            <td>{{ item.firstName ?? '' + ' ' + item.lastName?? '' }}</td>
                            <td>{{ (item.babeFirstName ?? '') + ' ' + (item.babeLastName?? '') }}</td>
                            <td>{{ item.tel }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pull-right">
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSelected()">Select</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button>
    </div>
</div>
