<div class="modal-content" style="z-index:888888">

  <div class="modal-header">
    <h4 class="modal-title pull-left page-title font-kanit">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <i class="fas fa-times-circle"></i>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="itemform">
      <div class="form-row">
        <div class="col-md">
          <label for="input-raceCode" class="col-form-label">รหัสเชื้อชาติ</label>
          <input type="text" id="input-raceCode" class="form-control form-control-sm" formControlName="raceCode">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md">
          <label for="input-race" class="col-form-label">เชื้อชาติ</label>
          <input type="text" class="form-control form-control-sm" id="input-race" formControlName="raceName">
        </div>
      </div>
      <div class="form-row">
        <div class="col-md">
          <label for="input-RaceLifeCycleCode" class="col-form-label">Life Cycle Code</label>
          <input type="text" class="form-control form-control-sm" id="input-RaceLifeCycleCode"
            formControlName="raceLifeCycleCode">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSave(itemform)">Save</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="onCancel()">Close</button> -->
  </div>
</div>
