<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="start center" fxLayoutGap.gt-sm="250px"
  fxLayoutGap.lt.md="20px">
  <div>
    <a [routerLink]="['/master-file/sample-type/create']" mat-flat-button color="primary" (click)="onCreateNew()">
      <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create New</a>
  </div>
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
  <ng-container matColumnDef="sampleTypeCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสตัวอย่าง </th>
    <td mat-cell *matCellDef="let element"> {{element.SampleTypeCode}} </td>
  </ng-container>

  <ng-container matColumnDef="sampleTypeName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตัวอย่าง </th>
    <td mat-cell *matCellDef="let element"> {{element.SampleTypeName}} </td>
  </ng-container>

  <ng-container matColumnDef="sampleTypeNameEng">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อตัวอย่าง (eng) </th>
    <td mat-cell *matCellDef="let element"> {{element.SampleTypeNameEng}} </td>
  </ng-container>

  <ng-container matColumnDef="isDefault">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Default </th>
    <td class="text-center" mat-cell *matCellDef="let element"><input type="checkbox" [(ngModel)]="element.IsDefault"
        style="width: auto" (click)="$event.preventDefault();"></td>
  </ng-container>

  <!-- <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
  </ng-container> -->

  <ng-container matColumnDef="profileName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> วัตถุประสงค์ </th>
    <td mat-cell *matCellDef="let element"> {{element.ProfileName}} </td>
  </ng-container>

  <ng-container matColumnDef="expireFlag">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> หมดอายุ </th>
    <td mat-cell *matCellDef="let element"> {{element.ExpireFlag}} </td>
  </ng-container>

  <ng-container matColumnDef="expireDays">
    <th class="text-center" mat-header-cell *matHeaderCellDef> วันหมดอายุ </th>
    <td class="text-center" mat-cell *matCellDef="let element"> {{element.ExpireDays}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th class="text-center" mat-header-cell *matHeaderCellDef> Details </th>
    <td class="text-center" mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element.SampleTypeID)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="accent" (click)="redirectToUpdate(element.SampleTypeID)">
        <mat-icon class="mat-18">system_update</mat-icon>
      </button>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToDelete(element.SampleTypeID)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="200" [pageSizeOptions]="[100, 200, 300, 400, 500]">
</mat-paginator>