<div fxLayout fxLayout.lt-md="column wrap" fxLayoutAlign="start center" fxLayoutGap.gt-sm="250px"
  fxLayoutGap.lt.md="20px">
  <div>
    <a [routerLink]="['/master-file/department/create']" mat-flat-button color="primary" (click)="onCreateNew()">
      <i class="fa fa-plus-circle mr-2" aria-hidden="true"></i>Create New</a>
  </div>
  <mat-form-field fxFlex="40%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortStart="desc" (matSortChange)="customSort($event)">
  <ng-container matColumnDef="deptCode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> รหัสแผนก </th>
    <td mat-cell *matCellDef="let element"> {{element.DeptCode}} </td>
  </ng-container>

  <ng-container matColumnDef="deptName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อแผนก </th>
    <td mat-cell *matCellDef="let element"> {{element.DeptName}} </td>
  </ng-container>

  <ng-container matColumnDef="deptNameEng">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ชื่อแผนก (eng) </th>
    <td mat-cell *matCellDef="let element"> {{element.DeptNameEng}} </td>
  </ng-container>

  <ng-container matColumnDef="remark">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> หมายเหตุ </th>
    <td mat-cell *matCellDef="let element"> {{element.Remark}} </td>
  </ng-container>

  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> Details </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="redirectToDetails(element.DeptID)">
        <mat-icon class="mat-18">reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="redirectToDelete(element.DeptID)">
        <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="200" [pageSizeOptions]="[100, 200, 300, 400, 500]">
</mat-paginator>
